body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 0;
    color: white;
    flex-wrap: wrap;
    
}

nav{
    width: 270x;
   max-height: 100%;
    background-color:white ;
    position: fixed;
    position: flex;
    overflow-y:scroll;
}
  
@media(max-width:800px){
    nav{
        border-right: none;
        border-bottom: 2px solid #777;
width: 100%;
overflow-y: scroll;
height: 300px;}
main{
    width: 100%;
    height: auto;
}
body{
    flex-direction: none;
}
    
   
   
}
#navbar a{
display: block;
    padding: 15px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    
    font-size: 0.96em;
  border-bottom: 1px solid black;
  border-right: 2px solid #a7a8af;
    display: block;
    
}
section{
    padding-top: 2px;
   
   margin-top: 10px;
 padding-bottom: 2px;
 padding-left: 20px;
    line-height: 1.5;
}
section header{
    margin: 0;
    font-size: 1.9em;
}
section p{
    line-height: 1.5;
    color:#4d4e53;
    font-size: 0.90em;
    display: block;
    padding:auto;
    margin: 15px;
}
span{
    line-height: 2;
    color:#4d4e53 ;
    display: block;
    font-size: 12px;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
ul{
    margin-left: 40px;
}
ul li{

    margin: 12px 0px 0px 20px;

    font-size: 0.90em;
    color:#4d4e53;
    padding-left: 2px;
    padding-top: 5px;
}
main{
    margin-left: 300px;
    margin: 0px;
    flex: 1;
height: 100vw;
    background-color: white;
    color: black;
    position: flex;
    padding-left: 330px;
    

}
#navbar header{
    text-align: center;
       border-bottom: 1px solid black;;
    margin-top: 10px;
    font-size: 1.9em;
padding-bottom: 18px;
}
header{
    padding: 5px;
    text-align: left;
   
    font-size: 24px;
    font-weight: 500;
   
    color: black;
}